<div class="menu-container"> 
  <div class="row">
    <div class="col-6">
      <div class="category-card" (click)="seleccionarCategoria(categorias[0])">
        <img src="menu/geography.jpg" alt="Geografía" class="category-image">
        <p>Geografía</p>
      </div>
    </div>
    <div class="col-6">
      <div class="category-card" (click)="seleccionarCategoria(categorias[1])">
        <img src="menu/film.jpg" alt="Cine" class="category-image">
        <p>Cine</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="category-card" (click)="seleccionarCategoria(categorias[2])">
        <img src="menu/videojuegos.jpg" alt="Videojuegos" class="category-image">
        <p>Videojuegos</p>
      </div>
    </div>
    <div class="col-6">
      <div class="category-card" (click)="seleccionarCategoria(categorias[3])">
        <img src="menu/art.jpg" alt="Arte" class="category-image">
        <p>Arte</p>
      </div>
    </div>
  </div>
</div>
